name: Trigger Azure Pipeline

# Dieser Trigger erlaubt manuelles Starten
on:
  workflow_dispatch:

jobs:
  run-pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: test neue starten 1 Dummy
        env:
          AZURE_ORG: ${{ secrets.AZURE_ORG }}
          AZURE_PROJECT: ${{ secrets.AZURE_PROJECT }}
          AZURE_PIPELINE_ID: ${{ secrets.AZURE_PIPELINE_ID }}
          AZURE_PAT: ${{ secrets.AZURE_PAT }}
        run: |
          curl -X POST \
          -u :$AZURE_PAT \
          -H "Content-Type: application/json" \
          -d '{"resources":{"repositories":{"self":{"refName":"refs/heads/main"}}}}' \
          "https://dev.azure.com/$AZURE_ORG/$AZURE_PROJECT/_apis/pipelines/$AZURE_PIPELINE_ID/runs?api-version=7.1-preview.1"
